{% extends "users/base.html" %}

{% block title %}MakeUofT 2020{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}
    <div class="grid-container" id="wrapper">
        <h1>Applications for MakeUofT Have Closed</h1>
        <p>Unfortunately, the deadline to apply for MakeUofT 2020 was {{ apply_deadline }}.</p>
        <p>Follow <a href="https://www.facebook.com/makeuoft/">our Facebook page</a> for future updates from us, we hope that you will be able to attend MakeUofT next year.</p>
        <p>If you have any questions or concerns, please <a href="mailto:makeuoft@gmail.com">contact us</a>.</p>
    </div>
{% endblock %}