{% extends "users/base.html" %}

{% block title %}Thanks for Applying{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}
    <div class="grid-container" id="wrapper">
        <h1>Thanks for Applying!</h1>
        <p>Thanks for submitting an application! We have received it, and will be processing them in the order they are received. Keep an eye on your email, our <a href="https://ieee.utoronto.ca/makeuoft">website</a>, and our <a href="https://www.facebook.com/makeuoft/">Facebook page</a> for more details as they come out!</p>
        <p>Within the coming weeks, you'll be able to form teams with fellow applicants on this page. Teams are not required in advance - you're welcome to pair up with other hackers on the first day of the event! However, we will be processing applications by team, so we recommend you get a group of friends (or partners-in-crime) to apply with you. We'll notify you via email when team creation is open.</p>
        <p>If you have any questions or concerns, please <a href="mailto:makeuoft@gmail.com">contact us</a>.</p>

        <h2>Apply as a Team</h2>
            <p>Have friends you want to work with? Create a team with up to 4 people and we'll review your applications together. Enter your team code or make a new one and share with your teammates.</p>
            <form>
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4 large-3 large-offset-2">
                        <label class="team-form-label">Enter team code:</label>
                    </div>
                    <div class="cell small-12 medium-4 large-3">
                        <input type="text" name="team-code">
                    </div>
                    <div class="cell small-12 medium-4 large-3">
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                    <div class="cell small-12" style="text-align: center;">
                        Don't have a code yet? <a class="action">Create a team</a>.
                    </div>
                </div>
            </form>
    </div>
{% endblock %}