{% extends "users/base.html" %}

{% block title %}Thanks for Applying{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}
    <div class="grid-container" id="wrapper">
        <h1>Thanks for Applying!</h1>
        <div class="grid-padding-x">
            <div class="cell small-12">
                <p>Thanks for submitting an application! We have received it, and will be processing them in the order they are received. Keep an eye on your email, our <a href="https://ieee.utoronto.ca/makeuoft">website</a>, and our <a href="https://www.facebook.com/makeuoft/">Facebook page</a> for more details as they come out!</p>
            </div>
            <div class="cell small-12">
                <p>Within the coming weeks, you'll be able to form teams with fellow applicants on this page. Teams are not required in advance - you're welcome to pair up with other hackers on the first day of the event! However, we will be processing applications by team, so we recommend you get a group of friends (or partners-in-crime) to apply with you. We'll notify you via email when team creation is open.</p>
            </div>
            <div class="cell small-12">
                <p>If you have any questions or concerns, please <a href="mailto:makeuoft@gmail.com">contact us</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}