{% extends "base.html" %}

{% block title %}Thanks for Applying{% endblock %}

{% block head_extends %}
<!-- select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<!-- Site CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/dashboard.css') }}" />
{% endblock %}

{% block content %}
    <div class="grid-container" id="wrapper">
        <h1>Thanks for Applying!</h1>
        <p>Thanks for submitting an application! We have received it, and will be processing them in the order they are received. Keep an eye on your email, our <a href="https://ieee.utoronto.ca/makeuoft">website</a>, and our <a href="https://www.facebook.com/makeuoft/">Facebook page</a> for more details as they come out!</p>
    </div>
{% endblock %}