{% extends "users/base.html" %}

{% block title %}MakeUofT 2020{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}
    <div class="grid-container" id="wrapper">
        <h1>MakeUofT 2020 Application Decision</h1>
        <p>Thank you for your interest in MakeUofT 2020. While we appreciate your time and energy, we are not able to offer you a spot in the event this year. We hope that this decision does not prevent you from applying next year! Every year we look to increase the number af attendees.</p>
        <p>If you have any questions or concerns, please <a href="mailto:makeuoft@gmail.com">contact us</a>.</p>
    </div>
{% endblock %}