{% extends "users/base.html" %}

{% block title %}MakeUofT 2020{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}
    <div class="grid-container" id="wrapper">
        <h1>MakeUofT 2020 Application Decision</h1>
        <p>The MakeUofT team has reviewed your application, and due to both the high caliber and high volume of applications, we have decided not to grant you a guaranteed spot at MakeUofT. However, we have decided to place you on our day-of waitlist. At 10:00 am EST on February 15, 2020, if there is still room we will begin allowing people from the waitlist into the event on a first-come, first-serve basis. We offer <b>no guarantee</b> that you will be allowed into the event, regardless of how early you arrive. Please read our <a href="https://docs.google.com/document/d/1ycL-jpaXSTnz_VnXnR4OI7zTQDD3wLMQZlRmobNMMBg/edit?usp=sharing">participant package</a> for all the info regarding the event if you plan on waiting to see if any spots become available.</p>
        <p>If you have any questions or concerns, please <a href="mailto:makeuoft@gmail.com">contact us</a>.</p>
    </div>
{% endblock %}