{% extends "users/base.html" %}

{% block title %}MakeUofT 2020{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}
    {% if user.team and leave_team_form %}
        <div class="reveal" id="leave-team-modal" data-reveal>
            <h2>Are you sure you want to leave this team?</h2>
            <p>If you change your mind, you can rejoin again by entering the team code, as long as the team isn't full.</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ leave_team_form.hidden_tag() }}
                {{ leave_team_form.leave_team }}
            </form>
        </div>
    {% endif %}

    <div class="grid-container" id="wrapper">
        <h1>MakeUofT 2020 Application Decision</h1>
        <p>The MakeUofT team has reviewed your application, and due to both the high caliber and high volume of applications, we have decided to defer your application to the next round. You will hear back from us by <b>February 10th</b> regarding a final decision on your application. Below, you may still join or make changes to your team, and we will re-consider your application with your teammates at that time.</p>
        <p>If you have any questions or concerns, please <a href="mailto:makeuoft@gmail.com">contact us</a>.</p>

        {% if not user.team and join_team_form %}
            <h2>Apply as a Team</h2>
            <p>Have friends you want to work with? Create a team with up to 4 people and we'll review your applications together. Enter your team code or make a new one and share with your teammates.</p>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ join_team_form.hidden_tag() }}
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-4 large-3 large-offset-2">
                        {{ join_team_form.team_code.label(class="team-form-label") }}
                    </div>
                    <div class="cell small-12 medium-4 large-3">
                        {{ join_team_form.team_code }}
                        {{ render_errors(join_team_form.team_code) }}
                    </div>
                    <div class="cell small-12 medium-4 large-3">
                        {{ join_team_form.submit }}
                    </div>
                    <div class="cell small-12" style="text-align: center;">
                        Don't have a code yet? <a class="action" id="create-team">Create a team</a>.
                    </div>
                </div>
            </form>
        {% else %}
            <h2>Your Team</h2>
            <p>Your team code is: <span style="font-weight: bold">{{ user.team.team_code }}</span></p>
            {% if user.team.team_members|length < 4 %}
            <p>Spots remaining on your team: <span style="font-weight: bold">{{ 4 - user.team.team_members|length }}</span>. Share your team code with your friends so they can join your team!</p>
            {% endif %}
            <h3>Team Members</h3>
            <ul>
                {% for member in user.team.team_members %}
                <li>{{ member.first_name }} {{ member.last_name }}</li>
                {% endfor %}
            </ul>
            <button class="submit-btn" data-open="leave-team-modal">Leave Team</button>
        {% endif %}
    </div>

    <script>
        $(document).ready(function() {
            $("#create-team").click(function() {
                $.post("{{ url_for("api.teams") }}")
                .done(function() {
                    window.location.reload();
                })
                .fail(function(data) {
                    alert(data.responseText);
                });
            });
        });
    </script>
{% endblock %}