@import './../../Assets/Abstracts/mixins.scss';
@import './../../Assets/Abstracts/variables.scss';

.inventory {
    position: relative;
    width: 80%;
    margin: 25px auto;
    @include flexPosition(flex-start,flex-start);
    flex-direction: column;

    @include response(lg/md) {
        width: 100%;
        padding: 0 6rem;   
    }

    h1 {
        margin: 17px 0 5px 7px;
        font-size: size(md);
        font-weight: normal;
    }

    &Filters {
        @include flexPosition(flex-start, flex-start);
        flex-wrap: wrap;
        width: 100%;

        button {
            background: #979797;
            border-radius: 1.6px;
            color: color(white);
            border: none;
            font-size: size(xxs);
            font-weight: 600;
            margin: 7px;
            padding: .5rem 1rem;
            transition: all .2s;

            &:hover {
                background-color: darken(#979797, 10%);
            }
            &:active {
                background-color: color(yellow);
            }
        }

        .active {
            background-color: color(yellow) !important;
        }

        &Search {
            padding: .2rem;
            color: color(white);
            background-color: color(green);
            margin: 7px;
            border-radius: 1.6px;
            @include flexPosition;

            svg {
                fill: color(white);
                height: 20px;
                width: 20px;
                margin-right: 5px;
                margin-left: 5px;
            }

            input {
                padding: .4rem 1rem;
                border: none;
                border-radius: 1.6px;
            }
        }
    }
    
    &List {
        @include flexPosition(flex-start, flex-start);
        flex-wrap: wrap;
        margin-top: 1rem;
        z-index: 1;
        position: relative;

        &Loading {
            font-size: size(sm);
            margin: 2rem;
        }
    }

    &ToTop {
        font-size: size(xs);
        font-weight: 600;
        align-self: center;
        transition: all .2s;
        margin: 4rem 0 1rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }


    }
}
