body {
  background: linear-gradient(130.14deg, #48A0AF 9.68%, #3386BA 87.5%);
  font-family: "Nunito", sans-serif;
}

header {
  width: 100%;
  height: 70px;
}

.header-logo {
  height: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-family: "Nunito", sans-serif !important;
}

h4 {
  text-align: left;
  font-size: 1.25rem;
  padding-right: 1rem;
  font-family: "Montserrat", sans-serif !important;
  padding-top: 3px;
}

label {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.15;
  margin: 0.5rem 0;
}

#wrapper {
  background-color: white;
  max-width: 1000px;
  border-radius: 2em;
  padding: 2em;
}

#wrapper h1 {
  padding: 1rem 0;
}

.consent-field label {
  font-weight: normal !important;
  color: #666666;
}

.is-invalid-label {
  color: #c60f13 !important;
}

.is-invalid-input:not(:focus) {
  border-color: #c60f13 !important;
  background-color: #f8e6e7 !important;
}

.form-error {
  margin-bottom: 0;
}

.select2-selection__rendered {
  line-height: 2.4375rem !important;
}

.select2-container .select2-selection--single {
  height: 2.4375rem !important;
}

.select2-selection__arrow {
  height: 2.4375rem !important;
}

@media screen and (min-width: 40em) {
  h4 {
    text-align: right;
  }
}

/* This is all basically duplicated from styles.css */
.top-bar-container {
  width: 100%;
  background-color: transparent;
}

.title-bar {
  background-color: #fff;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 6px 30px;
}

.title-bar .menu-icon::after {
  background-color: #00639c;
  box-shadow: 0 7px 0 #00639c, 0 14px 0 #00639c;
}

.title-bar #title-bar-logo {
  height: 50px;
  margin-right: 1em; }

.top-bar {
  background-color: transparent;
  width: 100%;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all ease-out .15s;
  -moz-transition: all ease-out .15s;
  -o-transition: all ease-out .15s;
  transition: all ease-out .15s;
}

.top-bar ul {
  background-color:inherit;
}

.submit-btn {
    padding: 0.75em 2.5em;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #388DB7;
    border-radius: 1.25em;
    border: none;
    transition: all 0.3s;
}

.submit-btn:hover {
  background-color: #256B8E;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .top-bar ul {
    background: linear-gradient(351.94deg, #3F95B4 -11.6%, #479FB0 17.52%, #48A0AF 65.87%, #3386BA 95.18%);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
  }
}

.top-bar li {
  margin: 0 0.25em;
}

.top-bar img {
  max-height: 100%;
  max-width: 100%;
  height: 3em;
  min-width: 136px;
}

.top-bar .top-bar-left {
  display: none;
}

.top-bar .top-bar-right {
  margin: auto;
}

.menu {
  margin-right: 2rem;
}

.top-bar .top-bar-right li {
  margin: 0.5em;
}

@media screen and (max-width: 64em) {
  .top-bar .top-bar-right li {
    width: auto;
    text-align: center;
  }
}

.top-bar .top-bar-right a {
  padding: 0.75em 0.75em;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
  color: inherit;
}

.top-bar .top-bar-right a:hover {
  border-bottom: 3px solid #ffa21b;
  color: #ffa21b;
  margin-bottom: 0;
}

.top-bar .top-bar-right .section-active {
  color: #ffa21b;
}

.top-bar .top-bar-right .apply-button {
  background-color: #00639c;
  color: #fff;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

.top-bar .top-bar-right .apply-button:hover {
  border-bottom: none;
  background-color: #0485Ba;
  color: #fff;
}

@media screen and (min-width: 64em) {
  .top-bar-left { display: block !important; }
}

.team-form-label {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
}

@media screen and (min-width: 40em) {
  .team-form-label { text-align: right; }
}

.action {
  color: #E8850C;
  text-decoration: underline;
}