{% macro render_errors(field) %}
    {% if field.errors %}
        <span class="form-error" id="{{ field.id }}-error" style="display: inherit">
        {% if field.errors|length == 1 %}
            {{ field.errors[0] }}
        {% else %}
            <ul>
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </span>
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/styles.css') }}" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900|Source+Sans+Pro:400,400i,600,700,900&display=swap" rel="stylesheet">


    <title>User Registration</title>
</head>
<body>
    <header class="form-header">
        <a href="{{ url_for("home.index") }}"><img class="form-header-logo" src="{{ url_for('static', filename='img/CubeyBoi.svg') }}"/></a>
    </header>

    <div class="login-form-div">
        <div class="form-container">
            <form class="login-form" id="register-form" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <h1>Update Password</h1>
                <p class="signup-msg">Please enter your new password!</p>
                <div class="input-div">
                    <label for="password">Password</label>
                    {{ form.password(type="password", id="password") }}
                    {{ render_errors(form.password) }}
                </div>
                <div class="input-div">
                    <label for="reenterPassword">Re-Enter Password</label>
                    {{ form.password2(type="password", id="reenterPassword") }}
                    {{ render_errors(form.password2) }}
                </div>
                <span>Something wrong? <a href="mailto:makeuoft@gmail.com">Contact us</a>.</span>
                <button type="submit" form="register-form" class="submit-btn btn-yellow">Update</button>
                <span class="form-links">
                    <a href="{{ url_for('auth.login')}}" class="forgot-pw">Log in</a>
                </span>
            </form>
        </div>

        <img src="{{ url_for('static', filename='img/MachineRight.svg') }}" class="MiddleCircles">
    </div>

</body>
</html>
