<p>Hello {{ user.first_name }},</p>

<p>Thank you for your interest in MakeUofT 2020. While we appreciate your time and energy, we are not able to offer you a spot in the event this year. We hope that this decision does not prevent you from applying next year! Every year we look to increase the number af attendees.</p>

<p>If you have any questions or concerns, please feel free to contact us at <a href="mailto:makeuoft@gmail.com">makeuoft@gmail.com</a>.</p>

<p>Best,<br>
The MakeUofT Team<br></p>
